{% extends "Falcon9Launches/layout.html" %}

{% block content%}
    
    <h1>Falcon 9 launch complexes</h1>
        {% if complexes %}
            <div >
            {% for complex in complexes  %}
                <div class="launchComplex"> 
                    <div class="complexInfoContainer">
                        <div><h3>{{complex.name}}</h3> <a href="{% url "complexDetails" complex.id %}" > (Details) </a></div>
                        <p><strong>Launch site:</strong> <a href="{% url "launchSiteDetails" complex.launch_site.id %}" >{{complex.launch_site.name}}</a></p>
                    </div>
                    {% if complex.image %}
                        <div class="imageContainer"><img class="thumbnail" src="{{complex.image.url}}"  > </div> 
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div> No launch complexes found. </div>
        {% endif %}

{% endblock %}

{% block form  %}
{% endblock  %}