{% extends "Falcon9Launches/layout.html" %}

{% block content%}
    
    <h2>Details for mission  "{{mission.name|upper}}"</h2>
    <div>
        <p><strong>Database id:</strong> {{mission.id}}</p>
        <p><strong>Name:</strong> {{mission.name}}</p>
        <p><strong>Operator:</strong> {{mission.operator}}</p>
        {% if mission.wikiLink %}
        <p><strong>WikiLink :</strong> <a href="{{mission.wikiLink}}">{{mission.wikiLink}}</a></p>
        {% endif %}
        <p><strong>Flight:</strong> 
            {% if mission.flight %}
               <a href="{% url "flightDetails" mission.flight.id%}">{{mission.flight.number}} </a></td>
            {% else %}
                no flight assigned yet
            {% endif %}
        
        </p>

    </div>
    {% if  request.user.is_authenticated %}
        <a class="button edit" href = "{% url 'missionEdit' mission.id%}" > Edit </a> 
        <a class="button delete" href = "{% url 'missionDelete' mission.id %}" > Delete </a>
    {% else %}
        <p> Log in to edit or delete this mission. </p>    
    {% endif %}
  <a class="button cancel" href = "{% url 'missions' %}" > Show all missions </a>

{% endblock %}
