{% extends "Falcon9Launches/layout.html" %}

{% block content%}
    
    <h1>Falcon 9 missions</h1>
        {% if missions %}
            <table class="flightsTable"> <thead>
                <tr>
                    <td>Name</td>
                    <td>Operator</td>
                    <td>Flight</td>
                    <td>Booster</td>
                    <td>Outcome</td>
                    <td>Details</td>
                </tr>
            </thead><tbody>
            {% for mission in missions  %}
            <tr>
                <td>{{mission.name}} </td>
                <td>{{mission.operator}} </td>
                <td><a href="">{{mission.flight.number}} </a></td>
                <td><a href="{% url "boosterDetails" mission.flight.booster.id %}">{{mission.flight.booster.number}}</a> </td>
                <td>{{mission.flight.get_outcome_display}} </td>
                <td><a href="{% url "missionDetails" mission.id%}">Details </a></td>
            </tr>
            {% endfor %} 
            </tbody>    
        </table>
        {% else %}
            <div> No launch complexes found. </div>
        {% endif %}
    
{% endblock %}



{% block form  %}
    <h3> Create a new mission </h3>
    <h4> Secret: {{secret_message}} </h4>

    <form action="" method="post" class="createForm">
        {% csrf_token %}
         <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Save">
    </form>
{% endblock  %}