{% extends "Falcon9Launches/layout.html" %}

{% block content%}
    
    <h1>Falcon 9 missions</h1>
        {% if missions %}
            <table class=""> 
            {% for mission in missions  %}
            <tr>
                <td><strong>Name:</strong> {{mission.name}} </td>
                <td><strong>Operator:</strong>{{mission.operator}} </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <div> No launch complexes found. </div>
        {% endif %}
    
{% endblock %}



{% block form  %}
    <h3> Create a new mission </h3>
    <h4> Secret: {{secret_message}} </h4>

    <form action="" method="post" class="createForm">
        {% csrf_token %}
         <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Save">
    </form>
{% endblock  %}